* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero {
    position: relative;
    height: 100hv;
    width: 100%;
    background: black;
}

.logo {
    width: 150px;
    height: 150px;
}

.container {
    width: 1350px;
    max-width: 95%;
    margin: 0 auto;
    position: relative;
    height: 100hv;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;

}

.menu {
    width: 50px;
    height: auto;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;

}

nav ul li a:hover {
    color: #2c798e;
    transition: .5s;
}

.box {
    display: flex;
    align-items: center;
}

button {
    background-color: #2c798e;
    display: inline-block;
    padding: 16px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #2c798e;
    margin-right: 30px;
}

button:hover {
    background-color: transparent;
    border: 1px solid #2c798e;
    color: #2c798e;
    transition: .5s;
    cursor: pointer;
}

.content {
    position: relative;
    padding-top: 230px;
    z-index: 4;
}

.content h1 {
    color: #fff;
    font-size: 95px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 35px;
    font-family: 'Space Grotesk', sans-serif;

}

.content p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.85;
    margin-bottom: 30px;
}
.gallery {
    --size: 100px;
    display:inline;
    grid-template-columns: repeat(10, var(+size));
    grid-auto-rows: var(+size);
    gap: 9px;
    place-items: start center ;
    margin-bottom: var(--size);
}

.gallery img {
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    object-fit: cover;
}

